body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  line-height:20px;
}
#u47 {
  position:absolute;
  left:7px;
  top:11px;
  width:525px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  line-height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:481px;
}
#u49 {
  position:absolute;
  left:7px;
  top:48px;
  width:757px;
  height:481px;
}
#u50 {
  position:absolute;
  left:2px;
  top:232px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
