body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  line-height:20px;
}
#u43 {
  position:absolute;
  left:7px;
  top:11px;
  width:639px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  line-height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1614px;
  height:3475px;
}
#u45 {
  position:absolute;
  left:10px;
  top:36px;
  width:1614px;
  height:3475px;
}
#u46 {
  position:absolute;
  left:2px;
  top:1730px;
  width:1610px;
  visibility:hidden;
  word-wrap:break-word;
}
